{namespace ptx=Tx_PtExtbase_ViewHelpers}

<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
	<h1></h1>

<f:flashMessages />

	<f:render partial="DropboxStatus" arguments="{isAuthenticated:isAuthenticated}" />

	<table  class="tx_dldropbox typo3-dblist">
		<tr class="t3-row-header">
			<th><f:translate key="tx_dldropboxsync_domain_model_syncconfiguration.identifier" /></th>
			<th><f:translate key="tx_dldropboxsync_domain_model_syncconfiguration.description" /></th>
			<th><f:translate key="tx_dldropboxsync_domain_model_syncconfiguration.local_path" /></th>
			<th><f:translate key="tx_dldropboxsync_domain_model_syncconfiguration.remote_path" /></th>
			<th><f:translate key="tx_dldropboxsync_domain_model_syncconfiguration.type" /></th>
			<th><f:translate key="tx_dldropboxsync_domain_model_syncconfiguration.last_sync_info" /></th>
			<th> </th>
		</tr>

		<f:for each="{syncs}" as="sync">
			<tr>
				<td> {sync.identifier}</td>
				<td> {sync.description}</td>
				<td> {sync.localPath}</td>
				<td> {sync.remotePath}</td>
				<td> <f:translate key="tx_dldropboxsync_domain_model_syncconfiguration.type.{sync.syncType}" /> </td>
				<td><f:render partial="Sync/SyncInfo" arguments="{syncInfo:sync.lastSyncInfoAsArray}" /></td>
				<td>
					<ptx:be.buttons.Icon uri="{f:uri.action(action:'edit', arguments:{sync : sync})}" icon='actions-document-open' title="Edit"/>
					<ptx:be.buttons.Icon uri="{f:uri.action(action:'delete', arguments:{sync : sync})}" icon='actions-edit-delete' title="Delete"/>
				</td>
			</tr>
		</f:for>
	</table>
<br />
	<div>
		<ptx:be.buttons.Icon uri="{f:uri.action(action:'new')}" icon='actions-document-new' title="New Config"/><f:link.action action="new">Add Sync Config</f:link.action>
	</div>

	<div style="padding-top:5px;">
		<ptx:be.buttons.Icon uri="{f:uri.action(action:'syncAll')}" icon='actions-system-refresh' title="Sync all defined folders"/><f:link.action action="syncAll">Sync all defined folders</f:link.action>
	</div>

</f:section>

