<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
	<h1></h1>

<f:flashMessages />

<a onclick="vHWin=window.open('{f:uri.action(action:'connectRequest', controller:'OAuth')}','dboauthpopup','height=600,width=800,status=0,menubar=0,scrollbars=1');vHWin.focus();return false;" href="#">
	Connect to Dropbox
</a>


<f:for each="{info}" as="folder">
	{folder.path}x<br />
</f:for>

</f:section>