<table class="tx-dl-dropboxsync" >
	<tr>
		<td>
			<f:translate key="tx_dldropboxsync_domain_model_sync.identifier" />
		</td>
		<td>
			{sync.identifier}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dldropboxsync_domain_model_sync.description" />
		</td>
		<td>
			{sync.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dldropboxsync_domain_model_sync.local_path" />
		</td>
		<td>
			{sync.localPath}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dldropboxsync_domain_model_sync.remote_path" />
		</td>
		<td>
			{sync.remotePath}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dldropboxsync_domain_model_sync.type" />
		</td>
		<td>
			{sync.type}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dldropboxsync_domain_model_sync.last_sync" />
		</td>
		<td>
			{sync.lastSync -> f:format.date()}
		</td>
	</tr>
</table>