<table class="tx-dl-dropboxsync" >
	<tr>
		<td>
			<label for="sync.identifier">
				<f:translate key="tx_dldropboxsync_domain_model_syncconfiguration.identifier" />
			</label>
		</td>
		<td>
			<f:form.textfield  id="sync.identifier" property="identifier" size="43"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dldropboxsync_domain_model_syncconfiguration.description" />
		</td>
		<td>
			<f:form.textarea property="description" rows="5" cols="40"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dldropboxsync_domain_model_syncconfiguration.local_path" />
		</td>
		<td>
			<f:form.textfield property="localPath" size="43"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dldropboxsync_domain_model_syncconfiguration.remote_path" />
		</td>
		<td>
			<f:form.textfield property="remotePath" size="43"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dldropboxsync_domain_model_syncconfiguration.type" />
		</td>
		<td>


			<f:form.select options="{in:'{f:translate(key:\'tx_dldropboxsync_domain_model_syncconfiguration.type.in\')}', out:'{f:translate(key:\'tx_dldropboxsync_domain_model_syncconfiguration.type.out\')}'}" property="syncType"/>
		</td>
	</tr>
</table>