<table class="tx-dl-dropboxsync" >
	<tr>
		<td>
			<label for="sync.identifier">
				<f:translate key="tx_dldropbox_domain_model_sync.identifier" />
			</label>
		</td>
		<td>
			<f:form.textfield  id="sync.identifier" property="identifier"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dldropbox_domain_model_sync.description" />
		</td>
		<td>
			<f:form.textfield property="description"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dldropbox_domain_model_sync.local_path" />
		</td>
		<td>
			<f:form.textfield property="localPath"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dldropbox_domain_model_sync.remote_path" />
		</td>
		<td>
			<f:form.textfield property="remotePath"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dldropbox_domain_model_sync.type" />
		</td>
		<td>
			<f:form.textfield property="type"/>
		</td>
	</tr>
</table>