{namespace ptx=Tx_PtExtbase_ViewHelpers}

<div class=syncInfo>
	<f:if condition="{syncInfo}">
		<f:then>
			<table width="100%">
				<tr>
					<td>
						<h2>Info</h2>
					</td>
					<td align="left">
						<table width="100%">
							<tr>
								<td>Start: </td><td><ptx:format.timestamp format="%d.%m.%Y %H:%M:%S">{syncInfo.startTime}</ptx:format.timestamp></td>
								<td>Finished:</td><td><ptx:format.timestamp format="%d.%m.%Y %H:%M:%S">{syncInfo.endTime}</ptx:format.timestamp></td>
							</tr>
						</table>
					</td>
				</tr>
				
				
				<f:if condition="{syncInfo.localFiles.added}">
					<tr>
						<td width="120px"><h2>Added / Updated</h2></td>
						<td>
							<table width="100%">
								<th>Remote</th><th>Local</th>
								<f:for each="{syncInfo.localFiles.added}" as="file">
									<tr>
										<td>{file.remote}</td><td>{file.local}</td>
									</tr>
								</f:for>
							</table>
						</td>
					</tr>
				</f:if>
				
				
				<f:if condition="{syncInfo.localFiles.deleted}">
					<tr>
						<td><h2>Deleted</h2></td>
						<td>
							<ul>
							<f:for each="{syncInfo.localFiles.deleted}" as="file">
								<li>{file}</li>
							</f:for>
							</ul>
						</td>
					</tr>
				</f:if>

				
				<f:if condition="{syncInfo.localFiles.unchanged}">
					<tr>
						<td><h2>Unchanged Files</h2></td>
						<td>
							<ul>
								<f:for each="{syncInfo.localFiles.unchanged}" as="file">
									<li>{file}</li>
								</f:for>
							</ul>
						</td>
					</tr>
				</f:if>

			</table>

		</f:then>
		<f:else>
			<b>This configuration was never run.</b>
		</f:else>
	</f:if>
</div>
