<label for="identifier">
	<f:translate key="tx_dldropboxsync_domain_model_syncconfiguration.identifier" />
</label><br />
	<f:form.textfield property="identifier" /><br />
<label for="description">
	<f:translate key="tx_dldropboxsync_domain_model_syncconfiguration.description" />
</label><br />
	<f:form.textfield property="description" /><br />
<label for="localPath">
	<f:translate key="tx_dldropboxsync_domain_model_syncconfiguration.local_path" />
</label><br />
	<f:form.textfield property="localPath" /><br />
<label for="remotePath">
	<f:translate key="tx_dldropboxsync_domain_model_syncconfiguration.remote_path" />
</label><br />
	<f:form.textfield property="remotePath" /><br />
<label for="type">
	<f:translate key="tx_dldropboxsync_domain_model_syncconfiguration.type" />
</label><br />
	<f:form.textfield property="type" /><br />
<label for="lastSync">
	<f:translate key="tx_dldropboxsync_domain_model_syncconfiguration.last_sync" />
</label><br />
	<f:form.textfield property="lastSync"  value="{syncConfiguration.lastSync->f:format.date()}" /><br />