<table class="tx-dl-dropboxsync" >
	<tr>
		<td>
			<f:translate key="tx_dldropboxsync_domain_model_syncconfiguration.identifier" />
		</td>
		<td>
			{syncConfiguration.identifier}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dldropboxsync_domain_model_syncconfiguration.description" />
		</td>
		<td>
			{syncConfiguration.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dldropboxsync_domain_model_syncconfiguration.local_path" />
		</td>
		<td>
			{syncConfiguration.localPath}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dldropboxsync_domain_model_syncconfiguration.remote_path" />
		</td>
		<td>
			{syncConfiguration.remotePath}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dldropboxsync_domain_model_syncconfiguration.type" />
		</td>
		<td>
			{syncConfiguration.type}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dldropboxsync_domain_model_syncconfiguration.last_sync" />
		</td>
		<td>
			{syncConfiguration.lastSync -> f:format.date()}
		</td>
	</tr>
</table>